@import "../../styles/colors";
nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 45px;
    display: flex;
    z-index: 1;
    .nav {
        width: 100%;
        max-width: $maxWidth;
        border-top: 1px solid $grey3;
    }
    a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-align: center;
        background: $white;
        color: $grey4;
        cursor: pointer;
        transition: 0.3s all ease;
        img{
            filter: $filterGrey4;
        }
    }
    a.active {
        color: $primary;
        font-weight: 600;
        img{
            filter: $filterPrimary;
        }
    }
    a::before {
        content: "";
        position: absolute;
        background: $primary;
        height: 2.5px;
        width: 0;
        bottom: 5px;
        border-radius: 20px;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.3s all ease;
    }

    a.active::before {
        width: 1rem;
        background: $primary;
    }
}
