@import "../../styles/colors";
.banner {
    border-radius: 10px;
    overflow: hidden;

    padding-bottom: 65%;
    background: $primary-faded;
    height: 0;
    position: relative;

    img.img {
        background-size: cover;
        // width: 100%;
        // height: auto;
        // max-height: calc(100vh - 70px);

        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
    }

    .banner-text {
        font-size: 2.5em;
        font-weight: 800;
        color: $white;

        span {
            display: inline-block;
            color: $primary;
        }
    }

    .fallback {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(125deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
        top: 0;
    }

    .title {
        font-size: 18px;
    }

    .data{
        color: $grey2;
    }
}
